In [1]:
l = [1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
# increment list by 1
l1 = []
for i in l:
  l1.append(i+1)

In [3]:
l1, l

([2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8])

In [4]:
l = ["lenovo", "samsung", "pwskills", "course"]

In [7]:
l1 = []
for i in l:
  l1.append(i.upper())

In [8]:
l1

['LENOVO', 'SAMSUNG', 'PWSKILLS', 'COURSE']

In [9]:
l = [1, 2, 3, 4, 4, "acer", "jupiter", 232, 44.222, "abc"]

In [10]:
l

[1, 2, 3, 4, 4, 'acer', 'jupiter', 232, 44.222, 'abc']

In [11]:
## we want to classify list on basis of number and string
l1_num = []
l2_str = []
for i in l:
  if type(i) == int or type(i) == float:
    l1_num.append(i)
  else:
    l2_str.append(i)

In [ ]:
l1_num, l2_str

([1, 2, 3, 4, 4, 232, 44.222], ['acer', 'jupiter', 'abc'])

In [ ]:
# for else loop

In [ ]:
for i in l:
  print(i)
else:
  print("if for loop is able to complete itself then only else will execute")

1
2
3
4
4
acer
jupiter
232
44.222
abc
if for loop is able to complete itself then only else will execute

In [ ]:
l

[1, 2, 3, 4, 4, 'acer', 'jupiter', 232, 44.222, 'abc']

In [ ]:
l = ["january", "february", "march", "april", "may"]

In [ ]:
for i in l:
  if i == "march":
    break           #break stop the program for excuting further.
  print(i)

january
february

In [ ]:
for i in l:
  if i == "april":
    continue      #continue execute the program without returning its conditinal value
  print(i)

january
february
march
may

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list(range(-10, 0, 2))

[-10, -8, -6, -4, -2]

In [ ]:
l

['january', 'february', 'march', 'april', 'may']

In [ ]:
list(range(len(l)))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(len(l)): ##data in forward order
  print(l[i])

january
february
march
april
may

In [ ]:
list(range(len(l)-1, -1, -1))

[4, 3, 2, 1, 0]

In [ ]:
for i in range(len(l)-1, -1, -1): ##data in reverse order
  print(l[i])

may
april
march
february
january

In [ ]:
l2 = [1, 33, 45, 64, 644, 62, 23, 43, 64, 75, 70]

In [ ]:
list(range(0, len(l2), 2))

[0, 2, 4, 6, 8, 10]

In [ ]:
for i in range(0, len(l2), 2): ##printing the even number in order
  print(l2[i])

1
45
644
23
64
70

In [ ]:
##summation of elements
l3 = [23, 4, 26, 66, 4, 77, 76, 55]

In [ ]:
result = 0

for i in l3:
  result = result + i
print(result)

331

In [ ]:
t = (1, 2, 3, 4, 4, 5)

In [ ]:
result = 0
for i in t:
  result += i
print(result)

19

In [ ]:
d = {"name" : "sudh", "class" : "data science", "topic" : ["python", "machine learning", "DL", "NLP", 'CV ']}

In [ ]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [ ]:
for i in d.keys():
  print(d[i])

sudh
data science
['python', 'machine learning', 'DL', 'NLP', 'CV ']

In [ ]:
d.items() #elements in form of tuple

dict_items([('name', 'sudh'), ('class', 'data science'), ('topic', ['python', 'machine learning', 'DL', 'NLP', 'CV '])])

#While Loop

In [ ]:
a = 1
while a <= 10:
  print(a)
  a = a + 1

1
2
3
4
5
6
7
8
9
10

sum up the number till some point

In [ ]:
n = int(input("Enter you limit: "))
start = 0
counter = 1

while counter <= n:
  start = start + counter
  counter += 1
start

Enter you limit: 5

15

Factorial of number

In [ ]:
num = int(input("Enter your limit number: "))
factorial = 1

while num > 0: #can't calculate factorial of -ve number
  factorial *= num
  num -= 1
factorial

Enter your limit number: 5

120

Fibonacci Series

In [ ]:
num = int(input("Enter number upto required limit: "))
a, b = 0, 1
counter = 0

while counter < num:
  print(a)
  c = a + b
  a = b
  b = c
  counter += 1

Enter number upto required limit: 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
a, b = 0, 1

for i in range(10):
  print(a)
  c = a + b
  a = b
  b = c

0
1
1
2
3
5
8
13
21
34

In [ ]:
word = input("Enter your word for reverse: ")

reverse = ""
length = len(word)

while length > 0:
  reverse += word[length - 1]
  length -= 1
reverse

Enter your word for reverse: sudnih

'hindus'

In [ ]:
word = input("Enter the word: ")
reverse = ""

for i in word:
  reverse = i + reverse
reverse

Enter the word: python

'nohtyp'

printing the table of numbers

In [ ]:
num = int(input("Enter your number: "))
i = 1

while i <= 10:
  result = i * num
  print(num, "*", i, "=", result)
  i += 1

Enter your number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
num = int(input("Enter your number: "))

for i in range(11):
  if i == 0:
    continue
  result = i * num
  print(num, "*", i, "=", result)

Enter your number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#Comprehension

In [ ]:
#square of list
l = [1, 2, 3, 4, 5, 6]
l1 = []

for i in l:
  l1.append(i**2)
l1

[1, 4, 9, 16, 25, 36]

In [ ]:
##comprehension way
l3 = [i**2 for i in l]

In [ ]:
l3

[1, 4, 9, 16, 25, 36]

In [ ]:
# finding even number
[i for i in l if i%2 == 0]

[2, 4, 6]

In [ ]:
l1 = ["january", "february", "march", "april"]

In [ ]:
[i.upper() for i in l1]

['JANUARY', 'FEBRUARY', 'MARCH', 'APRIL']

In [ ]:
 ## tuple comprehension
list(i**2 for i in l)

[1, 4, 9, 16, 25, 36]

In [ ]:
## dict comprehension
d = {"key1":1, "key2":2, "key3":3, "key4":4}

In [ ]:
{k:v**2 for k, v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [ ]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [ ]:
{k: v for k, v in d.items() if v > 1}

{'key2': 2, 'key3': 3, 'key4': 4}

## Polymorphism
- Diffrent or multiplebehavior in diffrent kind of situations

In [ ]:
#function is same but behave diffent at diffrent situation
def test(a, b):
  return a + b

In [ ]:
test(3, 4)

7

In [ ]:
test("mumbai", " Pune")

'mumbai Pune'

In [ ]:
test([1, 2, 3, 4], [5, 6, 7, 8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
class data_science:

  def syllabus(self):
    print("This is my data science syllabus")

In [ ]:
class web_dev:

  def syllabus(self):
    print("This is web dev syllabus")

In [ ]:
## it behaves like polymorphism - one function behaves diffrent at diffrent situations
def class_parcer(class_obj):
  for i in class_obj:
    i.syllabus()

In [ ]:
data_science = data_science()
web_dev = web_dev()

In [ ]:
class_obj = [data_science, web_dev]

In [ ]:
class_parcer(class_obj)

This is my data science syllabus
This is web dev syllabus